<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>

    {% for note in notes %}
    <p> {{ note }} </p>
    {% endfor %}
</body>
</html> -->

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Notes {% endblock %}</h1>
<!-- Jinja For Loop -->
    {% for note in notes %}
        <div class="notes"> 
            <h3>{{ note['title'] }}</h3>
            <p>{{ note['content'] }}</p>

        </div>
    {% endfor %}
{% endblock %}